.box {
  width: 200px;
  height: 200px;
}

.box11 {
  width: 105px;
}

.box-0 {
  width: 100px;
}

.box-1 {
  width: 101px;
}

.box-2 {
  width: 102px;
}

.box-3 {
  width: 103px;
}

.con0 {
  width: 100px;
}

.con1 {
  width: 101px;
}

.con2 {
  width: 102px;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}
