.box {
    width: 200px;
    height: 200px;;
}

$num : 100px;
.box1{
    width: $num * 4;
    // height: $num + 20em;
    //Sass中如果单位不同的话，是不能运算
}

$num1 : 50.86;
.box2{
    width : round(100.5px);
    // 四舍五入

    height : percentage(1.2);
    // 返回百分比数值

    margin : random();
    // 返回0-1之间的小数

    padding : round($num1) + px;
}

@function sum( $n , $m) {
    @return $n + $m;
}
.box3{
    font-size : sum(4px , 5px);
}