.box {
    width: 200px;
    height: 200px;;
}

$num : 100px;
.box1{
    width: $num * 4;
    // height: $num + 20em;
    //Sass中如果单位不同的话，是不能运算
}

.box2{
    font: 20px / 1.5;
    padding : (20px / 1.5);
    color: #010202 * 2;
}