*{ margin: 0; padding: 0;}
ul{ list-style: none;}
img{ display: block}
h1,h2,h3{ font-size: 16px; font-weight: normal;}
a{ text-decoration: none; color: #333333;}
html,body{ font-family: Arial; height: 100%; overflow-y: -hidden;}

.l{float: left}
.r{float: right}
.clear:after{ content: ""; display: block; clear: both;}


#header{
    height: 80px;
    background: #018ffb;
    border-top: 5px #424147 solid;
}
#header .header_logo{}
#header .header_logo h1{
    margin: 19px 14px 0 20px;
}
#header .header_logo h2{
    font-family: '微软雅黑';
    font-size: 24px;
    color: #fff;
    line-height: 25px;
    margin-top: 28px;
}
#header .header_nav{
    color: white;
    font-size: 14px;
    line-height: 14px;
    margin-top: 33px;
}
#header .header_nav li{
    float: left;
    margin-right: 25px;
}
#header .header_nav i{
    color: white;
    margin-right: 8px;
}
#header .header_nav i.iconwode{
    font-size: 24px;
    position: relative;
    top: 4px;
    line-height: 8px;
}
#header .header_nav i.iconshouye{
    font-size: 20px;
    position: relative;
    top: 2px;
    line-height: 12px;
}
#header .header_nav i.iconV{
    font-size: 24px;
    position: relative;
    top: 4px;
    line-height: 8px;
}
#header .header_nav a{
    color: white;
}


#menu{ width: 200PX; background: #424147; height: calc(100% - 85px)}
#menu ul{
    color: #9a999e;
    text-align: center;
}
#menu ul li{
    height: 140px;
    border-bottom: 1px #3a393e solid;
    border-top: 1px #49484e solid;
}
#menu ul li.active{
    color: white;
    background: #4e4d53;
}
#menu ul li a{
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 35px;
    box-sizing: border-box;
}
#menu ul li i{
    font-size: 40px;
}
#menu ul li P{
    margin-top: 15px;
}


#main{
    overflow: hidden;
    height: calc(100% - 85px - 50px)
}
#main .main_container{
    height: 100%;
    overflow: auto;
}
#projectTitle .projectTitle_text{
    color: #333333;
    margin: 21px 0 0 22px;
}
#projectTitle .projectTitle_text h2{
    font-size: 24px;
    line-height: 25px;
}
#projectTitle .projectTitle_text i{
    font-size: 22px;
    color: #CBCBCB;
    margin-left: 30px;
}
#projectTitle .projectTitle_text p{
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0 13px 0;
}
#projectTitle .projectTitle_text span{
    color: #999;
}
#projectTitle .projectTitle_img{
    width:200px;
    height:149px;
    margin: 20px 20px 0 0;
}

#projectList .projectList_btns{
    height: 54px;
    background: #f1f9fc;
    border-top: 1px solid #e0eaef;
    border-bottom: 1px solid #dbe7ed;
    
}
#projectList .projectList_btns ul{
    margin: 14px 0 0 20px;
}
#projectList .projectList_btns li{
    float: left;
    width:108px;
    height:39px;
    border: 1px solid #dbe7ed;
    border-bottom: none;
    color: #666;
    background: #fbfeff;
    text-align: center;
    line-height: 39px;
    margin-right: 12px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
#projectList .projectList_btns li.active{
    background: #018ffb;
    color: #fff;
    position: relative;
}
#projectList .projectList_btns li.active:after{
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -6px;
}
#projectList .projectList_cons{
    margin: 20px;
}
#projectList .projectList_cons>div{display: none;}
#projectList .projectList_cons>div.show{
    display: block;
}
#projectList .zl_upload1 input, #projectList .zl_upload2 input{
    display: none;
}
#projectList .zl_upload1 label, #projectList .zl_upload2 label{
    cursor: pointer;
}
#projectList .zl_upload1 , #projectList .zl_upload2{
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
#projectList .zl_upload1{
    background: #5ED15B;
}
#projectList .zl_upload2{
    background: #34C0DA;
    margin-left: 20px;
}
#projectList .iconshangchuan1{
    font-size: 14px;
    position: relative;
    top: -1px;
}
#projectList .zl_search{
    width: 210px;
    height: 30px;
    border: 1px solid #dbe7ed;
    border-radius: 5px;
    overflow: hidden;
}
#projectList .zl_search input{
    border: none;
    width: 177px;
    height: 100%;
    color: #999999;
    font-size: 14px;
    text-indent: 9px;
    outline: none;
    position: relative;
    top: -3px;
}
#projectList .zl_search button{
    width: 32px;
    height: 32px;
    border: none;
    border-left: 1px solid #dbe7ed;
    background-image: linear-gradient(#F1F9FB,#FCFCFD);
    cursor: pointer;
}
#projectList .zl_search i{
    font-size: 18px;
    font-weight: bold;
    color: #A1C6D4;
}


#projectList .zl_table{
    clear: both;
    width: 100%;
    border: 1px solid #dbe7ed;
    font-size: 12px;
    border-collapse: collapse;
    position: relative;
    top: 20px;
}
#projectList .zl_table tr{
    height: 32px;
    border-bottom: 1px solid #dbe7ed;
}
#projectList .zl_table tr:hover{
    background: #f1f9fc;
}
#projectList .zl_table th{
    border-left: 1px solid #dbe7ed;
    color: #666;
    font-weight: normal;
    text-align: left;
    text-indent: 12px;
    background: #f1f9fc;
}
#projectList .zl_table th:first-child , #projectList .zl_table td:first-child{
    text-indent: 0;
    text-align: center;
}
#projectList .zl_table td{
    text-align: left;
    text-indent: 12px;
}
#projectList .zl_table .iconword{
    color: #018ffb;
    margin-right: 13px;
}
#projectList .zl_table .iconxiazai{
    color: #3da2f0;
    margin-right: 22px;
}
#projectList .zl_table .iconshanchu{
    color: #d94141;
}

#projectList .zl_footer{
    height: 69px;
    border: 1px solid #e7eff3;
    border-top: none;
    margin-top: 20px;
    overflow: hidden;
    font-size: 12px;
}

#projectList .zl_footer .zl_remove , #projectList .zl_footer .zl_download{
    width:78px;
    height: 24px;
    border: 1px solid #c9e4f1;
    background-image: linear-gradient(#F7FCFF,#E7F3FA);
    color: #1B83B9;
    border-radius: 3px;
    margin-top: 22px;
    cursor:pointer;
}
#projectList .zl_footer .zl_remove{
    margin-right: 15px;
    margin-left: 18px;
}
#projectList .zl_footer .zl_page{
    margin:27px 18px 0 0 ;
}
#projectList .zl_footer .zl_page a{
    color: #333333;
    padding: 6px 9px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    margin-left: 10px;
}
#projectList .zl_footer .zl_page a.active{
    color: #fff;
    background: #42adff;
    border: 1px solid #3797e0;
}


















#footer{
    height: 49px;
    border-top: 1px solid #dbe7ed;
    background: #f1f9fc;
    text-align: right;
    font-size: 12px;
    color: #878787;
    line-height: 49px;
    padding-right: 20px;
}