/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: #2f3640;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
    white-space:pre;
    white-space:pre-wrap;
    word-break:break-all;
    word-wrap:break-word;
  }
.prettyprint-title {    
    margin-top: 20px;
    margin-bottom: -15px;
}
  .article-content pre.prettyprint {
    margin: 20px 0;
    font-size: 13px;
    line-height: 1.5;
    font-family:   Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
    background: #272822;
    padding: 0 0 0 25px;
    color: #F8F8D4;
    border: none;
}
.prettyprint ol.linenums li {
    padding-right: 1em;
    position: relative;
}
.prettyprint .important:before {
    position: absolute;
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #ffce54;
    top: 0;
    left: -3px;
}
.prettyprint .important{background-color: #3b424c}
  .pln {
    color: #e6e9ed;
  }
  
  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #656d78;   
    padding: 10px 0;
    background-color: #2f3640;
  }
  .prettyprint  ol.linenums li {margin-bottom: 0}
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    padding-left: 1em;
    list-style-type: decimal;
  }
  
  @media screen {
  
    /* string content */
  
    .str {
      color: #ffce54;
    }
  
    /* keyword */
  
    .kwd {
      color: #4fc1e9;
    }
  
    /* comment */
  
    .com {
      color: #656d78;
    }
  
    /* type name */
  
    .typ {
      color: #4fc1e9;
    }
  
    /* literal value */
  
    .lit {
      color: #ac92ec;
    }
  
    /* punctuation */
  
    .pun {
      color: #e6e9ed;
    }
  
    /* lisp open bracket */
  
    .opn {
      color: #e6e9ed;
    }
  
    /* lisp close bracket */
  
    .clo {
      color: #e6e9ed;
    }
  
    /* markup tag name */
  
    .tag {
      color: #ed5565;
    }
  
    /* markup attribute name */
  
    .atn {
      color: #a0d468;
    }
  
    /* markup attribute value */
  
    .atv {
      color: #ffce54;
    }
  
    /* declaration */
  
    .dec {
      color: #ac92ec;
    }
  
    /* variable name */
  
    .var {
      color: #e6e9ed;
    }
  
    /* function name */
  
    .fun {
      color: #e6e9ed;
    }
  }