.box {
    width: 200px;
    height: 200px;;
}

.con1{
    background: tomato;
    &:hover{
        background: lightblue;
    }
}

.con2{
    background: gray;
    p {
        font : {
            size : 10px;
            weight : bold;
            family : 宋体;
        }
    }
}