.box {
  width: 100px;
  height: 100px;
}
ul {
  list-style: none;
}
ul li {
  float: left;
}
ul li div {
  margin: 10px;
}
ul li p {
  padding: 15px;
}
.con1 {
  background: tomato;
}
.con1:hover {
  background: lightblue;
}
