.sub-nav{
    position: fixed;
    right: 0px;
    bottom: 40px;
    font-weight: bolder;
    color: gray;
}
.sub-nav ul{
    
}
.sub-nav ul li{
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
    text-align: center;
    line-height: 30px;
    transition: 0.5s;
}
.sub-nav ul li a{
    width: 100%;
    height: 100%;
}
.sub-nav i{
    font-size: 26px;
}