.box {
    width: 200px;
    height: 200px;;
}

$background : (
    a : url(a.png),
    b : url(b.png)
);
.box2 {
    background: map-values($background);
}

$transform1 : (
    a : scale(2),
    b : rotate(30deg)
);
.box3 {
    transform: map-values($transform1);
}

.box4 {
    transform: zip(map-values($transform1)...);
}


.box5 {
    width : 100px;
    @media all and ( min-width : 768px){
        width: 600px;
    }
    @media all and ( min-width : 1440px ){
        width: 900px;
    }
}