*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{display: block;}
a{text-decoration: none;color: #646464;}
h1,h2,h3{font-size: 16px;}
body{font-family: Arial;}
h1{font-family: '黑体';font-size: 20px;}
h2{font-family: Arial;font-size: 14px;color: #9f9f9f;}
.l{float: left;}
.r{float: right}
.clear:after{content: "";display: block;clear: both;}
.container{width: 1080px;margin: 0 auto;position: relative;}
.container-fluid{width: 100%;}


#head{
    height: 81px;
}
#head .head_logo{
    margin-top: 19px;
    width: 162px;
    height: 44px;
   
    
}
#head .head_menu{
   
    line-height: 81px;
    font-size: 14px;

}
#head .head_menu li{
    
    margin-left: 57px;
    float: left;
    display: inline-block;
}

#banner{
    
    height: 469px;
    background: #D3D3D3;
}
#banner .big-banner{
    width: 1352px;
    margin: 0 auto;
}

#service .service-area{
    height: 136px;
    /* background: tomato; */
}
#service .service-area h1{
    width: 1080px;
    position: absolute;
    margin-top: 60px;
    text-align: center;
    color: #363636;
}
#service .service-area h2{
    width: 1080px;
    position: absolute;
    text-align: center;
    margin-top: 89px;
}
#service .service-list li{
    width: 270px;
    height: 271px;
    /* background: lightskyblue; */
    /* border: 2px solid lightgray; */
    /* box-sizing: border-box; */
    float: left;
}
#service .service-list li a img{
    width: 102px;
    height: 102px;
    margin: 0 auto;
}
#service .service-list li .service-list-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 31px;
    width: 270px;
    text-align: center;
}
#service .service-list li .service-list-text{
    font-size: 14px;
    color: #6d6d6d;
    width: 270px;
    margin-top: 14px;
    text-align: center;
    line-height: 22px;
}


#case{
    background: #f8f8f8;
    overflow: hidden;
}

#case .case-area{
    height: 140px;
    /* background: seagreen; */
}
#case .case-area h1{
    width: 1080px;
    position: absolute;
    text-align: center;
    color: #66c5b4;
    margin-top: 53px;
}
#case .case-area h2{
    width: 1080px;
    position: absolute;
    text-align: center;
    margin-top: 86px;
}
#case .case-img{
    width: 1080px;
    margin: 0 auto;
}
#case .case-img li{
    width: 339px;
    height: 181px;
    background: lightgray;
    margin-right: 19px;
    float: left;
}
#case .case-img .first{
    margin-left: 12px;
}
#case .case-img .three{
    margin-right: 0px;
}
#case .case-bottom{
    height: 139px;
    /* background: lightpink; */
}
#case .case-bottom .case-botto-btn{
    font-family: Arial;
    width: 176px;
    height: 37px;
    background: #66c5b4;
    border-radius: 17px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top:36px;
    position: absolute;
    left: 50%;
    margin-left: -88px;
    line-height: 37px;
}

#news{
    /* background: gold; */
}
#news .news-title{
    height: 166px;
    /* background: darkgoldenrod; */
}
#news .news-title h1{
    width: 1080px;
    position: absolute;
    text-align: center;
    color: #363636;
    margin-top: 66px;
}
#news .news-title h2{
    width: 1080px;
    position: absolute;
    text-align: center;
    margin-top: 95px;
}
#news .news-list{
    height: 285px;
    /* background: lightgray; */
}
#news .news-list .news-img{
    width: 234px;
    height: 196px;
    /* background: white; */
}
#news .news-list .news-img img{
    width: 234px;
    height: 196px;
}
#news .news-list .news-list-text{
    width: 846px;
}
#news .news-list .news-list-text li{
    width: 423px;
    height: 98px;
    /* background: tomato; */
    /* border: 2px dashed gray; */
    /* box-sizing: border-box; */
    /* position: absolute; */
}
#news .news-list .news-list-text li .data{
    width: 73px;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    float: left;
}
#news .news-list .news-list-text li .data .day{

    font-size: 39px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    color: #66c5b4;
    margin-top: 4px;

}
#news .news-list .news-list-text li .data .month{
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    color: #999999;
    margin-top: 5px;
}
#news .news-list .news-list-text li .news-text{
    width: 350px;
    /* background: tomato; */
    float: right;
}
#news .news-list .news-list-text li .news-text .tit{
    font-size: 14px;
    width: 350px;
    color: #3f3f3f;
    padding-left: 16px;
    margin-top: 1px;
}
#news .news-list .news-list-text li .news-text .text{
    font-size: 12px;
    line-height: 21px;
    color: #a4a4a4;
    padding-left: 20px;
    padding-right: 19px;
    margin-top: 14px;
}



#footer{
    height: 54px;
    background: #66c5b4;
}
#footer .footer-center{
    height: 54px;
    /* background: lightseagreen; */
}
#footer .footer-center .footer-left{
    font-size: 12px;
    font-family: Arial;
    color: #fff;
    line-height: 54px;
    float: left;
}
#footer .footer-center ul{
    height: 54px;
    line-height: 54px;
    font-size: 12px;
    font-family: Arial;
    color: #fff;
    float: right;
    margin-right: 13px;
}
#footer .footer-center ul li{
    display: block;
    float: left;

}
#footer .footer-center ul li.you{
    padding-right: 18px;
}
#footer .footer-center ul li.you:after{
    margin-left: 18px;
    content: '|';
}


